.hero {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  max-width: 100%;
  height: 500px;
  aspect-ratio: 2/3;
  object-fit: cover;
  background-color: var(--bs-tertiary-color);
}
