.cover {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  background-color: black;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  min-height: 550px;
}
